.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22336b; /* Bir tık daha açık lacivert */
  padding: 10px 20px;
  color: white;
  position: relative;
  z-index: 10; /* Üstte kalır */
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.nav-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background 0.2s;
}

.nav-button:hover {
  background: #2d468f;
}